/**
 * CSS from the Layout Generator/Tool
 */
 .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 1fr 60px;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";
    min-width: 1000px;
  }

  div {
    border: 1px solid #CCC;
  }
  
  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .footer {
    grid-area: footer;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .content {
    grid-area: content;
  }
  
  /**
   * Custom CSS added here 
   */
  body {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    padding: 1rem;
  }
  .container {
    max-width: 1600px;
    height: calc(100vh - 3rem);
    margin: 0 auto;
  }
  .container > * {
    /*display: grid;
    place-content: center;*/
    border-radius: 1px;
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
  .header,
  .footer,
  .nav {
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
  }
  .sidebar {
    color: hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
  }
  
  @media (max-width: 1600px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 60px 60px auto 60px;
      grid-template-areas:
        "header"
        "nav"
        "content"
        "footer";
    }
  }
  
  /*main content div style*/
  .content {
    display: grid;
    /*color: hsl(177, 51%, 23%);*/
    background-color: hsl(0, 0%, 100%);
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 0.3fr 1fr 1fr 1.7fr;*/
    grid-template-rows: 100px 500px 500px 1000px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "selects selects"
      "barchart pichart"
      "stacked_barchart stacked_barchart"
      "sunburst sunburst";
  }

  div svg {
    border: 1px solid #CCC;
  }

  .content div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selects {
    grid-area: selects;
  }
  .barchart {
    grid-area: barchart;
  }
  .piechart {
    grid-area: pichart;
  }
  .stacked_barchart {
    grid-area: stacked_barchart;
  }
  .sunburst {
    grid-area: sunburst;
  }
  